<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>cazino</title>
</head>
<body>
    <h1>cazino</h1>
    <h2>{{ users_name }}</h2>
    <h3>{{ depzit }}$</h3>
    {% if first %}
        <div id='slots' style = 'font-size: 24px; margin-top: 15px;'>
            {{first}}{{second}}{{thir}}
        </div>
    {% endif %}
    <br>
    <form action="/send" method="GET">
        <button type = 'submit'>крутить</button>
    </form>
    
        {%with messeges = get_flashed_messages() %}
            {% if masseges %}
                {% for massege in masseges %}
                    <p>{{ massege }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

    {% if messeges %}    
        <div>
            <form action='/plus_depzit' method="GET">
                <button type = 'submit'>Получить 1000$ бесплатно</button>
            </form>
        </div>
    {% endif %}
</body>
</html>